<!-- sobre mi -->
<article id="sobremi">

    <div class="img">
        <img src="victor.png" alt="">
    </div>

    <div class="info">
        <h1>SOBRE MÍ</h1>
        <p>Soy un desarrollador web recién graduado y vivo en Huelva, Andalucía.</p>
        <p>Me considero una persona bastante proactiva, resolutiva y ante todo, positiva.</p>
        <p>Disfruto mucho de comerme la cabeza buscando soluciones y aprendiendo cosas nuevas, y tengo muchas ganas de
            comenzar a trabajar en proyectos reales del día a día.</p>
    </div>

</article>


<!-- estudios -->
<article id="estudios">
    <div class="img">
        <img style="color: white;" src="estudios.png" alt="">
    </div>

    <div class="info">
        <h1>ESTUDIOS</h1>

        <h2>Bachillerato de ciencias.</h2>
        <h4>I.E.S Juan Antonio Pérez Mercader, Corrales.</h4>

        <h2>Desarrollo de Aplicaciones Web.</h2>
        <h4>I.E.S San Sebastián, Huelva.</h4>
    </div>
</article>


<!-- experiencia -->
<article id="experiencia">
    <div class="img">
        <img style="color: white;" src="experiencia.png" alt="">
    </div>

    <div class="info">
        <h1>EXPERIENCIA</h1>

        <h2>Prácticas en Empresa.</h2>
        <h4>Soporttec S.L., Huelva.</h4>
    </div>
</article>

<!-- conocimientos -->
<article id="conocimientos">
    <div class="img">
        <img style="color: white;" src="conocimientos.png" alt="">
    </div>

    <div class="info">
        <h1>CONOCIMIENTOS</h1>

        <h2>Angular 18</h2>
        <h4>Routing, Componentes, Servicios, Módulos.</h4>

        <h2>React</h2>
        <h4>Router-Dom, Componentes, Axios.</h4>

        <h2>Django</h2>
        <h4>Rest-Framework, Imágenes, Core.</h4>

        <h2>Python y PHP</h2>
        <h4>A un nivel medio.</h4>

        <h2>JavaScript y TypeScript</h2>
        <h4>A un nivel medio.</h4>

        <h2>C++ y Java</h2>
        <h4>A un nivel básico.</h4>

        <h2>HTML, CSS y SASS</h2>
        <h4>Con muchísima soltura.</h4>

        <h2>SQL</h2>
        <h4>CRUD completo, creación de views, usuarios, permisos, roles.</h4>

        <h2>Linux (Ubuntu)</h2>
        <h4>Instalación de paquetes, navegación por la terminal, nano, permisos de usuario.</h4>
        <h4>(De hecho, es mi S.O. habitual para el desarrollo).</h4>

        <h2>Apache</h2>
        <h4>Hosts virtuales, SSL, permisos.</h4>
        <h4>(Es más, esta web está hospedada en un servidor Apache propio).</h4>


    </div>
</article>


<!-- proyectos -->
<article id="proyectos">
    <div class="img">
        <img style="color: white;" src="proyectos.png" alt="">
    </div>

    <div class="info">
        <h1>PROYECTOS</h1>

        <!-- los puertoriquenos -->
        <div class="img">
            <img src="logotipo_puertoriquenos.png" alt="">
        </div>
        <h4>Una pequeña aplicación para llevar al día las puntuaciones de partidas de juegos de mesa.</h4>
        <div class="enlaces">
            <a target="_blank" href="https://lospuertoriquenos.victorvera.es">¡Visita la aplicación!</a>
            <a target="_blank" href="https://github.com/Turbrecher/app-los-puertoriquenos">Github Front</a>
            <a target="_blank" href="https://github.com/Turbrecher/app_los_puertoriquenos_api">Github API</a>
        </div>

        <!-- metropolis -->
        <div class="img">
            <img src="logotipo_metropolis.png" alt="">
        </div>
        <h4>Una cartelera de cines, mi proyecto de fin de grado.</h4>
        <div class="enlaces">
            
            <a target="_blank" href="https://github.com/Turbrecher/metropolis_front">Github Front</a>
            <a target="_blank" href="https://github.com/Turbrecher/metropolis_api">Github API</a>
        </div>
    </div>
</article>